.about{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.about.anime .heading{
    opacity: 1;
    transition: all 2.6s ease;
}

.heading{
    opacity: 0;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    transition: all 2.5s ease;
}

.heading span{
    color: var(--main-color);
}

.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.btn-box.box_center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn1{
    margin-top: 2rem;
    width: 19.5rem;
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(0);
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: animecircle 8s linear infinite;
}

@keyframes animecircle {
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}



.about-content{
    text-align: center;
}

.about-content h3{
    font-size: 2.6rem; 
}

.about-content p{
    font-size: 1.6rem; 
    margin: 2rem 0 3rem;
    text-align: justify;
}

@media (max-width: 960px) {
    .heading{
        font-size: 4rem;
    }

    .about-content h3{
        font-size: 2rem; 
    }
    
    .about-content p{
        font-size: 1.4rem; 
    }

    .btn.btn1{
        font-size: 1.45rem;
        width: 17.2rem;
    }
}

@media (max-width: 720px) {
    .heading{
        font-size: 3rem;
    }

    .about-content h3{
        font-size: 1.6rem; 
    }
    
    .about-content p{
        font-size: 1.1rem; 
    }

    .about-img{
        position: relative;
        width: 18rem;
        height: 18rem;;
    }

    .btn.btn1{
        font-size: 1.3rem;
        width: 16.5rem;
    }
}

@media (max-width: 420px) {
    .heading{
        font-size: 2.4rem;
    }

    .about-content h3{
        font-size: 1.4rem; 
    }
    
    .about-content p{
        font-size: 1.1rem; 
    }

    .about-img{
        position: relative;
        width: 14rem;
        height: 14rem;;
    }

    .btn.btn1{
        width: 15rem;
    }
}