.portfolio{
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 5rem;
    min-height: 100vh;
}

.portfolio h2{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.portfolio h2 span{
    color: var(--main-color);
}

#slide_img img{
    width: 100%;
    height: 100%;
    aspect-ratio: 8/5;
    vertical-align: middle;
    transition: all .5s ease;
}

#slide_img{
    position: relative;
    width: 450px;
    border-radius: .5rem;
    overflow: hidden;
}

#slide_img:hover img{
    transform: scale(1.2);
}

.see_Website{
    width: 100%;
    height: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: -10rem;
    z-index: 1;
    font: 1.2rem sans-serif;
    font-weight: bold;
    transition: all .5s ease;
}

.see_Website button{
    color: var(--main-color);
    border: 0.2rem solid var(--main-color);
    padding: 5px 10px;
    border-radius: .6rem;
    background: #091924a7;
    transition: all .5s ease;
    outline: none;
    cursor: pointer;
}


.see_Website button:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
}

#slide_img:hover .see_Website{
    bottom: 0;
}

.slider-controler{
    width: 40rem;
    position: relative;
    bottom: -6.5rem;
    left: 50%;
    transform: translate(-50%);
}
.swiper-button-next.slider-arrow:after, .swiper-button-prev.slider-arrow:after {
    font-size: 25px;
}

.swiper_container{
    margin-top: 5rem;
    position: relative;
}

.swiper.swiper_container{
    overflow: visible;
}

.portfolio .btn{
    display: inline-block;
    background: var(--main-color);
    color: var(--bg-color);
    padding: 10px 35px;
    position: absolute;
    bottom: 3rem;
    left: 5rem;
    z-index: 1;
    border-radius: .6rem;
    overflow: hidden;
    border: .2rem solid var(--main-color);
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .5s ease;
}

.portfolio .btn:hover{
    color: var(--main-color)
}

.portfolio .btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: all .5s ease;
}

.portfolio .btn:hover::after{
    width: 100%;
}

.swiper-pagination{
    left: 50%;
    transform: translate3d(0,0,0) translate(-50%);
}



@media (max-width: 960px) {
    .portfolio h2{
        font-size: 4rem;
    }

    #slide_img{
        width: 350px;
    }
}

@media (max-width: 720px) {
    .portfolio h2{
        font-size: 3.4rem;
    }

    #slide_img{
        width: 300px;
    }
}

@media (max-width: 420px) {
    .portfolio h2{
        font-size: 3rem;
    }

    .swiper-button-next.slider-arrow, 
    .swiper-button-prev.slider-arrow{
        display: none;
    }

    .swiper_container{
        width: 100%;
        box-sizing: border-box;
        margin-top: 10rem;
    }

    #slide_img{
        width: 250px;
    }
    
}